@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
}

dl, ol, ul {
  margin-bottom: 0rem !important;
}

.fixed-head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  -webkit-box-shadow: 0 2px 20px -10px #000;
          box-shadow: 0 2px 20px -10px #000;
}

header {
  padding: 40px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #0B4460;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header_logo img {
  height: 50px;
}

header .container .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header_nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  header .container .header_nav nav {
    display: none;
  }
}

header .container .header_nav nav .header-search-form {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  width: 95%;
  position: absolute;
  left: -100%;
  padding: 5px;
}

header .container .header_nav nav .header-search-form input {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 51, 51, 0.65);
          box-shadow: 0 0 0 0.2rem rgba(204, 51, 51, 0.65);
  float: right;
  width: 100%;
  outline: none;
  padding: 2px 20px;
  border-radius: 10px;
  border: none;
}

header .container .header_nav nav .activesearch {
  left: 0;
}

header .container .header_nav nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header_nav nav ul li {
  padding: 5px 10px;
}

header .container .header_nav nav ul li a {
  font-family: BPG-DejaVu-San;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

header .container .header_nav .burger-nav {
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
  display: none;
}

@media (max-width: 1200px) {
  header .container .header_nav .burger-nav {
    display: block !important;
  }
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  overflow: hidden;
  position: relative;
}

.parallax-window .path-for-par {
  position: absolute;
  bottom: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .parallax-window .path-for-par {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.parallax-window .path-for-par span {
  color: #fff;
  font-size: 25px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.parallax-window .path-for-par span .fas {
  margin-right: 10px;
}

main .container .page-nav-title {
  color: #C71F43;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
  padding: 50px 0;
}

main .news .each-news {
  position: relative;
  margin: 20px 0;
}

main .news .each-news:hover .each-news-readMore a:before, main .news .each-news:hover .each-news-readMore a:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

main .news .each-news:hover {
  -webkit-transition: margin-top  0.3s !important;
  transition: margin-top  0.3s !important;
  top: -10px;
}

main .news .each-news .each-news-content {
  background: #fff;
  position: relative;
}

main .news .each-news .each-news-content:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 0px #000 !important;
          box-shadow: 0px 0px 10px 0px #000 !important;
}

main .news .each-news .each-news-image {
  height: 250px;
  background: red;
  overflow: hidden;
}

main .news .each-news .each-news-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

main .news .each-news .each-news-date {
  background: #ed1c24;
  position: absolute;
  top: 25px;
  left: 0;
  color: #fff;
  width: 145px;
  padding: 10px 5px;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

main .news .each-news .each-news-title {
  font-family: "dejavu-caps";
  padding: 20px;
  color: #C71F43;
}

main .news .each-news .each-news-text {
  padding: 0px 20px 50px 20px;
  font-size: 15px;
  text-align: justify;
  font-family: BPG-DejaVu-San;
}

main .news .each-news .each-news-readMore {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .news .each-news .each-news-readMore a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  background: #fff;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

main .news .each-news .each-news-readMore a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .news .each-news .each-news-readMore a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer {
  padding-top: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#011d26), color-stop(#011d26), to(#073649));
  background-image: linear-gradient(to right, #011d26, #011d26, #073649);
}

footer .social-links {
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links .fab {
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  border-radius: 100%;
}

footer .social-links .fab:hover {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

footer .social-links .fa-twitter {
  border: solid #00acee 1px;
  color: #00acee;
}

footer .social-links .fa-facebook-f {
  border: solid #3C5A99 1px;
  color: #3C5A99;
}

footer .social-links .fa-instagram {
  border: solid #e4405f 1px;
  color: #e4405f;
}

footer .copyright {
  padding: 10px 0;
  color: #FFF;
  margin-top: 20px;
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

footer .social-title {
  font-size: 20px;
  color: #fff;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

footer .address-cont .addr, footer .address-cont .phone {
  font-size: 15px;
  color: #ffffff;
  padding: 5px 0;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

footer .address-cont .addr .fas, footer .address-cont .phone .fas {
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
}

.contact .contact-form {
  width: 100%;
}

.contact .contact-form input {
  width: 100%;
  margin: 25px 0px;
  outline: none;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.contact .contact-form input:focus {
  border-color: #C71F43 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 51, 51, 0.65) !important;
          box-shadow: 0 0 0 0.2rem rgba(204, 51, 51, 0.65) !important;
}

.contact .contact-form textarea {
  border: 1px solid #ced4da;
  margin: 10px 0px;
  width: 100%;
  border-radius: .25rem;
  padding: .375rem .75rem;
  resize: none;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.contact .contact-form textarea:focus {
  -webkit-transition: height 0.6s !important;
  transition: height 0.6s !important;
  height: 200px;
  color: #495057;
  background-color: #fff;
  border-color: #C71F43;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 51, 51, 0.65);
          box-shadow: 0 0 0 0.2rem rgba(204, 51, 51, 0.65);
}

.contact .contact-form .send-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  background: #fff;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.contact .contact-form .send-btn:hover:before, .contact .contact-form .send-btn:hover:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.contact .contact-form .send-btn:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .contact-form .send-btn:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .address-cont .addr, .contact .address-cont .phone, .contact .address-cont .mail {
  color: #0B4460;
  padding: 5px 0;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.contact .address-cont .addr .fas, .contact .address-cont .phone .fas, .contact .address-cont .mail .fas {
  font-size: 18px;
  color: #C71F43;
  margin-right: 10px;
}

.contact .map {
  margin: 20px 0;
  overflow: hidden;
  border-radius: .25rem;
}

.contact .map #map {
  width: 100%;
}

.products .each-prod-title h3, .prodcuts-choosen-prod-content .each-prod-title h3 {
  padding-bottom: 50px;
  text-align: center !important;
}

.products .each-prods, .prodcuts-choosen-prod-content .each-prods {
  position: relative;
  margin: 20px 0;
}

.products .each-prods:hover .each-prod-readMore a:before, .products .each-prods:hover .each-prod-readMore a:after, .prodcuts-choosen-prod-content .each-prods:hover .each-prod-readMore a:before, .prodcuts-choosen-prod-content .each-prods:hover .each-prod-readMore a:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.products .each-prods:hover, .prodcuts-choosen-prod-content .each-prods:hover {
  -webkit-transition: margin-top  0.3s !important;
  transition: margin-top  0.3s !important;
  top: -10px;
}

.products .each-prods .each-prod-content, .prodcuts-choosen-prod-content .each-prods .each-prod-content {
  background: #fff !important;
  position: relative;
}

.products .each-prods .each-prod-content:hover, .prodcuts-choosen-prod-content .each-prods .each-prod-content:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 0px #000 !important;
          box-shadow: 0px 0px 10px 0px #000 !important;
}

.products .each-prods .each-prod-image, .prodcuts-choosen-prod-content .each-prods .each-prod-image {
  height: 250px;
  background: red;
  overflow: hidden;
}

.products .each-prods .each-prod-image img, .prodcuts-choosen-prod-content .each-prods .each-prod-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.products .each-prods .each-prod-date, .prodcuts-choosen-prod-content .each-prods .each-prod-date {
  background: #ed1c24;
  position: absolute;
  top: 25px;
  left: 0;
  color: #fff;
  width: 145px;
  padding: 10px 5px;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.products .each-prods .each-prod-title, .prodcuts-choosen-prod-content .each-prods .each-prod-title {
  font-family: "dejavu-caps";
  padding: 20px;
  color: #C71F43;
}

.products .each-prods .each-prod-text, .prodcuts-choosen-prod-content .each-prods .each-prod-text {
  padding: 0px 20px 50px 20px;
  font-size: 15px;
  text-align: justify;
  font-family: BPG-DejaVu-San;
}

.products .each-prods .each-prod-readMore, .prodcuts-choosen-prod-content .each-prods .each-prod-readMore {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products .each-prods .each-prod-readMore a, .prodcuts-choosen-prod-content .each-prods .each-prod-readMore a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  background: #fff;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.products .each-prods .each-prod-readMore a:after, .prodcuts-choosen-prod-content .each-prods .each-prod-readMore a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products .each-prods .each-prod-readMore a:before, .prodcuts-choosen-prod-content .each-prods .each-prod-readMore a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-post-news .single-title {
  color: #C71F43;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
  padding: 50px 15px;
}

.single-post-news .single-post-date {
  padding: 10px 15px;
  color: #C71F43;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-post-news .single-text {
  padding-bottom: 20px;
  font-size: 15px;
  text-align: justify;
  font-family: BPG-DejaVu-San;
}

.single-post-news .single-text .share-single-post {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-post-news .single-text .share-single-post .facebook-share {
  background: #3C5A99;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff;
  margin-right: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.single-post-news .single-text .share-single-post .facebook-share:hover {
  border-color: #3C5A99;
  background: transparent;
  color: #3C5A99;
}

.single-post-news .single-text .share-single-post .facebook-share span {
  font-size: 13px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-post-news .single-text .share-single-post .twitter-share {
  background: #00acee;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff;
  margin-right: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.single-post-news .single-text .share-single-post .twitter-share:hover {
  border-color: #00acee;
  background: transparent;
  color: #00acee;
}

.single-post-news .single-text .share-single-post .twitter-share span {
  font-size: 13px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-post-news .single-images {
  padding-bottom: 20px;
}

.single-post-news .single-images .active_gallery {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.single-post-news .single-images .single-gallery {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-post-news .single-images .single-gallery img {
  width: 100%;
  max-width: 500px;
}

.single-post-news .single-images .single-gallery .gallery-exit {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 40px !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.single-post-news .single-images .single-gallery .gallery-exit:hover {
  color: red;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.single-post-news .single-images .single-gallery .fas {
  font-size: 20px;
  color: #fff;
  z-index: 99999;
}

.single-post-news .single-images .single-gallery .next {
  position: absolute;
  right: 30px;
  top: 50%;
}

.single-post-news .single-images .single-gallery .prev {
  position: absolute;
  left: 30px;
  top: 50%;
}

.single-post-news .single-images .sing__images > :nth-child(1) {
  width: 100% !important;
  margin: unset !important;
}

.single-post-news .single-images .sing__images img {
  float: left;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  margin: 5px;
  width: calc( 25% - 10px);
}

.projects {
  position: relative;
}

.projects .each-projs {
  position: relative;
  margin: 20px 0;
}

.projects .each-projs:hover .proj-hovered-sec {
  width: 100%;
}

.projects .each-projs:hover .each-proj-readMore a:before, .projects .each-projs:hover .each-proj-readMore a:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.projects .each-projs .proj-hovered-sec {
  height: 250px;
  width: 50%;
  background: #C71F43;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects .each-projs .each-proj-content {
  background: #fff;
  position: absolute;
  top: 100px;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projects .each-projs .each-proj-image {
  height: 250px;
  background: red;
  overflow: hidden;
}

.projects .each-projs .each-proj-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .each-projs .each-proj-date {
  background: #ed1c24;
  position: absolute;
  top: 25px;
  left: 0;
  color: #fff;
  width: 145px;
  padding: 10px 5px;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.projects .each-projs .each-proj-title h3 {
  font-family: "dejavu-caps";
  padding: 17px !important;
  color: #0B4460;
}

.projects .each-projs .ended {
  background: #C71F43;
  height: 40px;
  text-align: right;
  top: 100px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects .each-projs .unended {
  background: #0B4460;
  height: 40px;
  text-align: right;
  top: 100px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects .each-projs .each-proj-text {
  padding: 0px 20px 20px 20px;
  font-size: 15px;
  text-align: justify;
  font-family: BPG-DejaVu-San;
}

.projects .each-projs .each-proj-readMore {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects .each-projs .each-proj-readMore a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  background: #fff;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.projects .each-projs .each-proj-readMore a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.projects .each-projs .each-proj-readMore a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-post-projects .proj-title h3 {
  color: #C71F43;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
  padding: 50px 0;
}

.single-post-projects .single-project .single-proj-image {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.single-post-projects .single-project .single-proj-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-post-projects .single-project .single-proj-image .about-proj {
  position: absolute;
  left: 0;
  top: 100px;
  max-width: 300px;
  width: 100%;
}

.single-post-projects .single-project .single-proj-image .ended {
  background: #c71f43;
  text-align: right;
  top: 100px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
}

.single-post-projects .single-project .single-proj-image .unended {
  background: #0B4460;
  text-align: right;
  top: 100px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
}

.single-post-projects .single-project .single-proj-text {
  padding: 20px 0;
  text-align: justify;
  font-family: BPG-DejaVu-San;
}

.single-post-projects .single-project .share-single-post {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-post-projects .single-project .share-single-post .facebook-share {
  background: #3C5A99;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff;
  margin-right: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.single-post-projects .single-project .share-single-post .facebook-share:hover {
  border-color: #3C5A99;
  background: transparent;
  color: #3C5A99;
}

.single-post-projects .single-project .share-single-post .facebook-share span {
  font-size: 13px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-post-projects .single-project .share-single-post .twitter-share {
  background: #00acee;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff;
  margin-right: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.single-post-projects .single-project .share-single-post .twitter-share:hover {
  border-color: #00acee;
  background: transparent;
  color: #00acee;
}

.single-post-projects .single-project .share-single-post .twitter-share span {
  font-size: 13px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-post-projects .single-project .single-proj-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single-post-projects .single-project .single-proj-category .cat-item a {
  margin: 10px;
  padding: 10px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: fit-content;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-post-projects .single-project .single-proj-category .cat-item a img {
  width: 50px;
  height: 50px;
  background: red;
  margin-right: 10px;
}

.single-post-projects .single-project .single-proj-category .cat-item a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-post-projects .single-project .single-proj-category .cat-item a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-post-projects .single-project .single-proj-category .cat-item a:hover:before, .single-post-projects .single-project .single-proj-category .cat-item a:hover:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.single-post-projects .proj-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
  color: #C71F43;
}

.single-post-projects .proj-arrow p {
  cursor: pointer !important;
}

.single-post-projects .proj-arrow .fa-arrow-right {
  margin-left: 10px;
}

.single-post-projects .proj-arrow .fa-arrow-left {
  margin-right: 10px;
}

.services .sevice-content p {
  text-align: justify;
}

.services .service-item {
  margin: 20px 0;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid red;
}

.services .service-item .item-icon img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

.services .service-item .item-title {
  font-size: 20px;
  color: #C71F43;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.aboutus h1 {
  width: 100%;
  text-align: center !important;
}

.aboutus .aboutus-text {
  text-align: justify;
  font-family: BPG-DejaVu-San;
}

.aboutus .aboutus-team .team-member {
  margin: 15px 0;
}

.aboutus .aboutus-team .team-member .member-image {
  margin-bottom: 5px;
  text-align: center;
  position: relative;
}

.aboutus .aboutus-team .team-member .member-image:after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 100px;
  height: 200px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.aboutus .aboutus-team .team-member .member-image:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 50px;
  height: 200px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.aboutus .aboutus-team .team-member .member-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutus .aboutus-team .team-member .member-fullname p {
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  background: #C91F44;
  color: #fff;
  width: 90%;
  padding: 10px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.aboutus .aboutus-team .team-member .member-info {
  border: 2px solid #C91F44;
}

.aboutus .aboutus-team .team-member .member-info .member-proffesion, .aboutus .aboutus-team .team-member .member-info .member-mail {
  color: #C91F44 !important;
  padding: 10px;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.aboutus .aboutus-team .team-member .member-info .member-proffesion .fas, .aboutus .aboutus-team .team-member .member-info .member-mail .fas {
  color: #0C4460;
  margin-right: 10px;
}

.products-table .active_prod_cat, .single-products-table .active_prod_cat {
  color: #C91F44 !important;
  background: #f5f4f4;
}

.products-table .active_prod_cat:after, .single-products-table .active_prod_cat:after {
  right: 5px !important;
}

.products-table .prodcuts-tab-menu .prod-nav, .single-products-table .prodcuts-tab-menu .prod-nav {
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}

.products-table .prodcuts-tab-menu .prod-nav ul, .single-products-table .prodcuts-tab-menu .prod-nav ul {
  list-style-type: none;
}

.products-table .prodcuts-tab-menu .prod-nav ul li, .single-products-table .prodcuts-tab-menu .prod-nav ul li {
  width: 100%;
}

.products-table .prodcuts-tab-menu .prod-nav ul li a, .single-products-table .prodcuts-tab-menu .prod-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  vertical-align: middle;
  text-decoration: none;
  color: grey;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
  font-size: 18px;
  border-top: 2px solid #e0e0e0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
}

.products-table .prodcuts-tab-menu .prod-nav ul li a:after, .single-products-table .prodcuts-tab-menu .prod-nav ul li a:after {
  content: "⯈";
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products-table .prodcuts-tab-menu .prod-nav ul li a:hover, .single-products-table .prodcuts-tab-menu .prod-nav ul li a:hover {
  color: #C91F44;
  background: #f5f4f4;
}

.products-table .prodcuts-tab-menu .prod-nav ul li a:hover:after, .single-products-table .prodcuts-tab-menu .prod-nav ul li a:hover:after {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  right: 5px !important;
}

.products-table .prodcuts-choosen-prod-content, .single-products-table .prodcuts-choosen-prod-content {
  -webkit-box-shadow: 0px 0px 10px 0px #f5f4f4;
          box-shadow: 0px 0px 10px 0px #f5f4f4;
}

@media (max-width: 1000px) {
  .products-table .prodcuts-choosen-prod-content, .single-products-table .prodcuts-choosen-prod-content {
    margin-top: 20px !important;
  }
}

.products-table .prodcuts-choosen-prod-content .each-prod-content, .single-products-table .prodcuts-choosen-prod-content .each-prod-content {
  border: 1px solid #f5f4f4;
}

.products-table .prodcuts-choosen-prod-content .each-prod-content:hover, .single-products-table .prodcuts-choosen-prod-content .each-prod-content:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.single-products-table .choosen-product {
  -webkit-box-shadow: 0px 0px 10px 0px #f5f4f4;
          box-shadow: 0px 0px 10px 0px #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .single-products-table .choosen-product {
    margin-top: 20px;
  }
}

.single-products-table .choosen-product .each-prod-content {
  text-align: center;
}

.single-products-table .choosen-product .each-prod-content .each-prod-image {
  max-width: 80%;
  margin: 20px auto;
  width: 100%;
  overflow: hidden;
}

.single-products-table .choosen-product .each-prod-content .each-prod-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.single-products-table .choosen-product .each-prod-content .pined-file a {
  margin: 10px auto;
  padding: 10px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: fit-content;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-family: dejavu-caps, Proxima-Nova-Extrabold;
}

.single-products-table .choosen-product .each-prod-content .pined-file a .fa-file-pdf {
  margin-left: 20px;
  font-size: 25px;
  font-weight: normal;
}

.single-products-table .choosen-product .each-prod-content .pined-file a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-products-table .choosen-product .each-prod-content .pined-file a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-products-table .choosen-product .each-prod-content .pined-file a:hover:before, .single-products-table .choosen-product .each-prod-content .pined-file a:hover:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.single-products-table .choosen-product .each-prod-content .each-prod-title {
  width: 80%;
  margin: 0 auto;
}

.single-products-table .choosen-product .each-prod-content .each-prod-title h4 {
  text-align: center !important;
  padding: 20px 0;
  font-size: 20px;
}

.single-products-table .choosen-product .each-prod-content .each-prod-description {
  padding: 20px 0;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */